gw_2023_01/.vs
gw_2023_01/UserSettings
gw_2023_01/Temp
gw_2023_01/Packages
gw_2023_01/obj
gw_2023_01/Logs
gw_2023_01/Library
*.meta
gw_2023_01/Assets/TextMesh Pro
build
gw_2023_01/ProjectSettings/BurstAotSettings_StandaloneWindows.json
gw_2023_01/ProjectSettings/CommonBurstAotSettings.json
gw_2023_01/ProjectSettings/BurstAotSettings_WSAPlayer.json
gw_2023_01/ProjectSettings/BurstAotSettings_Android.json
gw_2023_01/ProjectSettings/BurstAotSettings_iOS.json
gw_2023_01/ProjectSettings/BurstAotSettings_WebGL.json
gw_2023_01/ProjectSettings/TimelineSettings.asset
